{% extends 'shared/layout.html' %}
{% block title %}
    فراموشی رمز عبور
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'forget_pass' %}">
        <div class="login-form-area">
            <div class="login-form">
                {% csrf_token %}
                <div class="login-heading">
                    <span>ارسال لینک تغییر رمز </span>
                    <p>برای دریافت لینک فراموشی رمز عبور ایمیل خود را وارد کنید </p>
                </div>

                <div class="input-box">
                    <div class="single-input-fields">
                        <label> ایمیل</label>
                        {{ forget_pass_form.email }}
                        {{ forget_pass_form.email.errors }}
                    </div>


                    <button class="submit-btn3">ارسال</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}