{% extends 'shared/layout.html' %}

{% block title %}
بازیابی کلمه عبور
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'reset_password' code_active = user.email_active_code %}">
        {% csrf_token %}
        <div class="login-form-area">
            <div class="login-form">
                <div class="login-heading">
                    <span>تغییر رمز عبور  </span>
                    <p>جهت تغییر رمز عبور، رمز جدید خود را وارد کنید </p>
                </div>
                <div class="input-box">
                    <div class="single-input-fields">
                        <label>رمز عبور </label>
                        {{ reset_pass_form.password }}
                        {{ reset_pass_form.password.errors }}
                    </div>
                    <div class="single-input-fields">
                        <label>تکرار رمز عبور </label>
                        {{ reset_pass_form.confirm_password }}
                        {{ reset_pass_form.confirm_password.errors }}
                    </div>
                    <button type="submit" class="submit-btn3">تایید </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
