{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home_page' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">مقالات</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>مقالات</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">


                            {% for article in articles %}
                                <article class="blog_item">
                                    <div class="blog_item_img">

                                        {% thumbnail article.image "750x375" quality=95 crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}

                                        {% comment %}<img class="card-img rounded-0" src="{{ article.image.url }}" alt="">{% endcomment %}


                                        <a href="#" class="blog_item_date">
                                            <h3>10</h3>
                                            <p>تیر</p>
                                            <span>1402</span>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block"
                                           href="{% url 'article_detail_page' pk=article.pk %}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">{{ article.title }}</h2>
                                        </a>
                                        <p> {{ article.short_description }} </p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> داستان</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 3 نظر</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}


                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">

                            {% render_partial 'article_module.views.article_categories_component' %}


                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">مطالب اخیر</h3>
                                <div class="media post_item">
                                    <img src="/static/img/blog/post_1.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3 style="color: #2d2d2d;">قورباغه ات را قورت بده</h3>
                                        </a>
                                        <p>10 تیر 1402</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/static/img/blog/post_2.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3 style="color: #2d2d2d;">این گفت و سخن ها</h3>
                                        </a>
                                        <p>10 ساعت قبل</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/static/img/blog/post_3.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3 style="color: #2d2d2d;">هنر به هیچ گرفتن</h3>
                                        </a>
                                        <p>3 ساعت قبل</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="/static/img/blog/post_4.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog-details.html">
                                            <h3 style="color: #2d2d2d;">بی خیالی</h3>
                                        </a>
                                        <p>30 دقیقه قبل</p>
                                    </div>
                                </div>
                            </aside>
                            {% comment %}<aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">ابر برچسب ها</h4>
                                <ul class="list">
                                    <li>
                                        <a href="#">کتاب</a>
                                    </li>
                                    <li>
                                        <a href="#">کتابخوانی</a>
                                    </li>
                                    <li>
                                        <a href="#">معرفی کتاب</a>
                                    </li>
                                    <li>
                                        <a href="#">روانشناسی</a>
                                    </li>
                                    <li>
                                        <a href="#">پزشکی</a>
                                    </li>
                                    <li>
                                        <a href="#">کتاب روانشناسی</a>
                                    </li>
                                    <li>
                                        <a href="#">کتاب خودشناسی</a>
                                    </li>
                                    <li>
                                        <a href="#">داستان نویسی</a>
                                    </li>
                                </ul>
                            </aside>{% endcomment %}
                            {% comment %}<aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;">فید اینستاگرام</h4>
                                <ul class="instagram_row flex-wrap">
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_5.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_6.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_7.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_8.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_9.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="/static/img/blog/post_10.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </aside>{% endcomment %}
                            {% comment %}<aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">خبرنامه کابانا</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'ایمیل'" placeholder="ایمیل" required="">
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">عضویت
                                    </button>
                                </form>
                            </aside>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}