{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block content %}
    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home_page' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">مقالات</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>مقالات</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">


                            {% for article in articles %}
                                <article class="blog_item">
                                    <div class="blog_item_img">

                                        {% thumbnail article.image "750x375" quality=95 crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}

                                        {% comment %}<img class="card-img rounded-0" src="{{ article.image.url }}" alt="">{% endcomment %}


                                        <a href="#" class="blog_item_date">
                                            <h3>10</h3>
                                            <p>تیر</p>
                                            <span>1402</span>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block"
                                           href="{% url 'article_detail_page' pk=article.pk %}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">{{ article.title }}</h2>
                                        </a>
                                        <p> {{ article.short_description }} </p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> داستان</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 3 نظر</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}



                            <ul class="pagination">


                                {% comment %}
                                    add paginations for article list
                                {% endcomment %}


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">

                            {% render_partial 'article_module.views.article_categories_component' %}


                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;"> آخرین مقالات </h3>

                                {% for article_number in articles_numbers %}
                                    <div class="media post_item">
                                        <img src="{{ article_number.image.url }}" alt="post">
                                        <div class="media-body">
                                            <a href="{{ article_number.slug }}">
                                                <h3 style="color: #2d2d2d;">{{ article_number.title }}</h3>
                                            </a>
                                            <p> {{ article_number.create_date | show_jalali_date }} </p>
                                        </div>
                                    </div>
                                {% endfor %}


                            </aside>


                            {% for banner in banners %}
                                <a href="{{ banner.url }}">
                                    <img src="{{ banner.image.url }}" width="350" alt="">
                                </a>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}