{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load sorl_thumbnail %}

{% block title %}
    فروشگاه کاباما
{% endblock %}

{% block content %}
    <main>
        <div class="slider-area home">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-active dot-style">

                            <div class="single-slider slider-height slider-bg1 d-flex align-items-center">
                                <div class="container">
                                    <div class="row slider-title">
                                        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                            <div class="hero-caption">
                                                <h1 data-animation="fadeInUp" data-delay=".4s">ده کتاب برتر جامعه شناسی
                                                </h1>
                                                <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                                   data-delay=".8s">مشاهده مقاله</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-slider slider-height slider-bg2 d-flex align-items-center">
                                <div class="container">
                                    <div class="row slider-title">
                                        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                            <div class="hero-caption">
                                                <h1 data-animation="fadeInUp" data-delay=".4s">همه چیز همه چیز</h1>
                                                <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                                   data-delay=".8s">مشاهده کتاب</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-slider slider-height slider-bg3 d-flex align-items-center">
                                <div class="container">
                                    <div class="row slider-title">
                                        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                            <div class="hero-caption">
                                                <h1 data-animation="fadeInUp" data-delay=".4s">کار را انجام دهید</h1>
                                                <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                                   data-delay=".8s">خرید کتاب</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="categories-slider">
            <div class="container">
                <div class="row justify-content-right">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle">
                            <h2>جدیدترین کابانا</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="categories-active">
                            {% for new_product in newest_product %}
                                <div class="category-item">
                                    <a href="{{ new_product.get_absolute_url }}" class="category-img">
                                        {% thumbnail new_product.image "150x214" quality=95 crop='center' as im %}
                                            <img
                                                    src="{{ im.url }}"
                                                    alt=""
                                                    loading="lazy">
                                        {% endthumbnail %}
                                    </a>
                                    <a class="category-caption"
                                       href="{{ new_product.get_absolute_url }}">{{ new_product.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="best-selling section-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>پرفروش ترین های این هفته</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="selling-active">

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling1.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">هستی</a></h3>
                                        <a href="#" target="_parent">فرهاد حسن زاده</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>12</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>150.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling2.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">پاستیل های بنفش</a></h3>
                                        <a href="#" target="_parent">کاترین اپلگیت</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>10</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>80.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling3.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">اثر مرکب</a></h3>
                                        <a href="#" target="_parent">دارن هاردی</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>60</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>150.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling4.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کتابخانه نیمه شب</a></h3>
                                        <a href="#" target="_parent">مت هیگ</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>9</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>35.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling5.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">مجموعه کتب جلال آل احمد</a></h3>
                                        <a href="#" target="_parent">انتشارات سبز</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>11</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>130.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling6.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کیمیاگر</a></h3>
                                        <a href="#" target="_parent">پائولو کونیلو</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>3</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>160.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="properties pb-20">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="book-details.html"><img src="/static/img/book/best_selling4.jpg"
                                                                         alt=""></a>
                                    </div>
                                    <div class="properties-caption">
                                        <h3><a href="book-details.html">کتابخانه نیمه شب</a></h3>
                                        <a href="#" target="_parent">مت هیگ</a>
                                        <div class="properties-footer">
                                            <div class="review">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                                <p>(<span>120</span> نظر)</p>
                                            </div>
                                            <div class="price">
                                                <p>110.000<span>تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-area2 top-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="section-tittle d-flex justify-content-between align-items-center mb-40">
                                    <div class="title-area2">
                                        <img src="/static/img/icon/book-open-reader-solid.svg" class="book-icon"/>
                                        <h2 class="mb-0">کتابــ های پر تخفیف </h2>
                                    </div>
                                    <a href="#" class="browse-btn">مشاهده همه</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="services-active">
                                    {% if free_product %}
                                        {% for product_free in free_product %}
                                            <div class="single-services d-flex align-items-center">
                                                <div class="features-img">
                                                    {% thumbnail product_free.product.image "282x427" quality=95 crop='center' as im %}
                                                        <img src="{{ im.url }}" alt="">
                                                    {% endthumbnail %}

                                                </div>
                                                <div class="features-caption">
                                                    <h3>{{ product_free.product.title }}</h3>
                                                    <p>نویسنده:<a href="#" target="_parent"
                                                                  class="author">{{ product_free.product.auther }}</a>
                                                    </p>
                                                    <div class="price">
                                                        <p>{{ product_free.product.price }}<span>تومان</span></p>
                                                    </div>
                                                    <div class="review">
                                                        <p><span>{{ product_free.percent }}</span>تخفیف : </p>
                                                    </div>
                                                    <a href="{{ product_free.product.get_absolute_url }}"
                                                       class="border-btn">اطلاعات بیشتر</a>
                                                </div>
                                                <div class="timer">
                                                    <div class="countdown_dashboard">
                                                        <div class="dash day_dash"><span class="dash_title">روز</span>
                                                            <div class="digi_num">
                                                                <div class="digit">{{ product_free.dead_line.day }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="dash hour_dash"><span class="dash_title">ساعت</span>
                                                            <div class="digi_num">
                                                                <div class="digit">{{ product_free.dead_line.hour }}</div>

                                                            </div>
                                                        </div>
                                                        <div class="dash min_dash"><span class="dash_title">دقیقه</span>
                                                            <div class="digi_num">
                                                                <div class="digit">{{ product_free.dead_line.minute }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="dash sec_dash"><span class="dash_title">ثانیه</span>
                                                            <div class="digi_num">
                                                                <div class="digit">{{ product_free.dead_line.second }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-md">
                                            <h1>محصول تخفیف داری موجود نمیباشد. </h1>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-9">

                        <div class="best-author">
                            <div class="best-author-title">
                                <h3>نویسندگان برتر</h3>
                            </div>
                            <hr>
                            <ul class="best-author-box">
                                {% for auther in authors %}
                                    <li>
                                        <img src="{{ auther.image.url }}" alt="">
                                        <p>{{ auther.name }}</p>
                                        <a href="author-details.html"><i
                                                class="fa-solid fa-circle-chevron-left"></i></a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <div class="best-author-footer">
                                <a href="author.html">همه نویسندگان</a>
                                <a href="author.html"><i class="fa-solid fa-circle-chevron-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-12">

                        <div class="section-tittle  mb-40">
                            <h2>دسته بندی کتبــ</h2>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="nav-button mb-40">

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for category_product in category_products %}
                                        <a class="nav-link {% if forloop.first %}active{% endif %}"
                                           id="nav-{{ category_product.id }}-tab"
                                           data-bs-toggle="tab" href="#nav-{{ category_product.id }}"
                                           role="tab" aria-controls="nav-{{ category_product.id }}"
                                           aria-selected="true">{{ category_product.title }}</a>
                                    {% endfor %}

                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="tab-content" id="nav-tabContent">
                    {% for category in category_products %}
                        <div class="tab-pane fade show{% if forloop.first %} active{% endif %}"
                             id="nav-{{ category.id }}" role="tabpanel"
                             aria-labelledby="nav-{{ category.id }}-tab">

                            <div class="row">
                                {% for product in category.products %}
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                                        <div class="properties pb-30">
                                            <div class="properties-card">
                                                <div class="properties-img">
                                                    <a href="{{ product.get_absolute_url }}"><img
                                                            src="{{ product.image.url }}"
                                                            alt=""></a>
                                                </div>
                                                <div class="properties-caption properties-caption2">
                                                    <h3><a href="book-details.html">{{ product.title }}</a></h3>
                                                    <p>نویسنده:<a href="#" target="_parent"
                                                                  class="author">{{ product.auther }}</a>
                                                    </p>
                                                    <div
                                                            class="properties-footer d-flex justify-content-between align-items-center">
                                                        <div class="review">
                                                            <div class="rating">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                            </div>
                                                            <p>(<span>20</span> نظر)</p>
                                                        </div>
                                                        <div class="price">
                                                            <p>{{ product.price }}<span>تومان</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="more-btn text-center mt-15">
                            <a href="{% url 'product_list' %}" class="border-btn border-btn2 more-btn2">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="publishers">
            <div class="container">
                <div class="row">
                    <div class="section-tittle">
                        <h2>ناشران برتر</h2>
                    </div>
                </div>

                <div class="row lists">

                    <div class="list" id="item-1">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/sabz.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر سبز</a>
                            <p>تعداد کتب در این سایت:<span>10 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-2">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/baran.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر باران</a>
                            <p>تعداد کتب در این سایت:<span>3 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-3">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/javaneh.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر جوانه</a>
                            <p>تعداد کتب در این سایت:<span>32 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-4">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/peymaneh.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر پیمانه</a>
                            <p>تعداد کتب در این سایت:<span>18 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-5">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/sayeh.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر سایه</a>
                            <p>تعداد کتب در این سایت:<span>12 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-6">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/sima.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر سیما</a>
                            <p>تعداد کتب در این سایت:<span>31 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-7">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/single-publisher.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر کتاب اول</a>
                            <p>تعداد کتب در این سایت:<span>22 عدد</span></p>
                        </div>
                    </div>

                    <div class="list" id="item-8">
                        <div class="list-image">
                            <a href="publisher-details.html" target="_self">
                                <img src="/static/img/publisher/sormeh.jpg" alt=""/>
                            </a>
                        </div>

                        <div class="list-caption">
                            <a href="publisher-details.html" target="_self">نشر سرمه</a>
                            <p>تعداد کتب در این سایت:<span>2 عدد</span></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="wantToWork-area w-padding2 mb-30" data-background="/static/img/bg/wants-bg1.jpg">
                        <div class="linking">
                            <a href="#" class="btn wantToWork-btn">خرید کتاب</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="wantToWork-area w-padding2 mb-30" data-background="/static/img/bg/wants-bg2.jpg">
                        <div class="linking">
                            <a href="#" class="btn wantToWork-btn">خرید کتاب</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container">
                <div class="row testimonial-head">
                    <div class="section-tittle">
                        <h2>نظر مشتریان کابانا</h2>
                    </div>
                    <hr class="solid">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="customers-testimonials" class="owl-carousel">
                            <!--TESTIMONIAL 1 -->
                            <div class="item">
                                <div class="shadow-effect">
                                    <img class="img-circle" src="/static/img/comments/testimonial4.jpg" alt="">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد. </p>
                                </div>
                                <div class="testimonial-name">سامان</div>
                            </div>
                            <!--END OF TESTIMONIAL 1 -->
                            <!--TESTIMONIAL 2 -->
                            <div class="item">
                                <div class="shadow-effect">
                                    <img class="img-circle" src="/static/img/comments/testimonial3.jpg" alt="">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد. </p>
                                </div>
                                <div class="testimonial-name">مریم</div>
                            </div>
                            <!--END OF TESTIMONIAL 2 -->
                            <!--TESTIMONIAL 3 -->
                            <div class="item">
                                <div class="shadow-effect">
                                    <img class="img-circle" src="/static/img/comments/testimonial1.jpg" alt="">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد. </p>
                                </div>
                                <div class="testimonial-name">شیما</div>
                            </div>
                            <!--END OF TESTIMONIAL 3 -->
                            <!--TESTIMONIAL 4 -->
                            <div class="item">
                                <div class="shadow-effect">
                                    <img class="img-circle" src="/static/img/comments/testimonial2.jpg" alt="">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد. </p>
                                </div>
                                <div class="testimonial-name">سعید</div>
                            </div>
                            <!--END OF TESTIMONIAL 4 -->
                            <!--TESTIMONIAL 5 -->
                            <div class="item">
                                <div class="shadow-effect">
                                    <img class="img-circle" src="/static/img/comments/testimonial5.jpg" alt="">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی
                                        می باشد. </p>
                                </div>
                                <div class="testimonial-name">محمد</div>
                            </div>
                            <!--END OF TESTIMONIAL 5 -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe-area">
            <div class="container">
                <div class="subscribe-caption text-center subscribe-padding section-img2-bg"
                     data-background="/static/img/bg/newsletter-bg.jpg">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-9">
                            <h3>خبرنامه کابانا</h3>
                            <p>هر ماه یک کتاب الکترونیکی رایگان به ایمیل اعضای خبرنامه ارسال می گردد.</p>
                            <form action="#">
                                <input type="text" placeholder="ایمیل">
                                <button class="subscribe-btn">عضویت در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}